services:

  kraken-api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: kraken-base
    container_name: kraken-api
    ports:
      - "8100:8100"
    restart: unless-stopped


  stream-consumer:
    build:
      context: .
      dockerfile: Dockerfile
    command: python -m app.stream_consumer
    restart: unless-stopped