services:
  mysql:
    image: mysql:8.0
    container_name: mysql-server
    env_file:
      - mysql.env
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost --silent"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis-server
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: ./crypto_data_collector
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data/parquet:/app/data
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery-worker:
    build:
      context: ./crypto_data_collector
      dockerfile: dockerfile
    command: celery -A app.tasks worker --loglevel=info -Q data_collector
    volumes:
      - ./data/parquet:/app/data
    depends_on:
      redis:
        condition: service_healthy
      mysql:
        condition: service_healthy

  celery-beat:
    build:
      context: ./crypto_data_collector
      dockerfile: dockerfile
    command: celery -A app.tasks beat --loglevel=info
    volumes:
      - ./data/parquet:/app/data
    depends_on:
      redis:
        condition: service_healthy

  newscollector-web:
    build:
      context: ./crypto_news_collector
      dockerfile: dockerfile
    ports:
      - "8300:8000"
    volumes:
      - ./data/parquet:/app/data
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy


  newscollector-listener:
    build:
      context: ./crypto_news_collector
      dockerfile: dockerfile
    command: python -m app.telegram_listener
    container_name: newscollector-listener
    volumes:
      - ./data/parquet:/app/data
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

  newscollector-celery-worker:
    build:
      context: ./crypto_news_collector
      dockerfile: dockerfile
    command: celery -A app.tasks worker --loglevel=info
    volumes:
      - ./data/parquet:/app/data
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

  newscollector-celery-beat:
    build:
      context: ./crypto_news_collector
      dockerfile: dockerfile
    command: celery -A app.tasks beat --loglevel=info
    volumes:
      - ./data/parquet:/app/data
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy